/* Decidim has a bug when using external_icon method that automatically adds a display:none inline css */
.social-register,
.button--social {
  .button--social__icon {
    img.icon.external-icon {
      display: inline-block !important;
    }
  }

  &.button--valid {
    .button--social__icon {
      padding: 12px 5px 5px 8px;

      img.icon.external-icon {
        width: 2.8em;
        height: auto;
      }
    }
  }
}

.trusted-ids-login-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 2em !important;

  h6 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 2em;
  }

  hr {
    width: 80%;
    margin: 2em auto;
  }
}
